@import '../../../../styles/colors';

.Materials {

  .Category {

    .CategoryHeading {
      border-bottom: 1px solid $charcoal1;
    }

    .Group {
      display: flex;
      flex-wrap: wrap;

      .Material {
        flex-direction: row;
        width: calc(25% - 10px);
        margin: 0 5px;

        &:first-of-type, &:nth-of-type(5),  &:nth-of-type(9){
          margin-left: 0;
        }
        &:nth-of-type(4n) {
          margin-right: 0;
        }

        .material-card {
          position: relative;
          height: 150px;
          width: 100%;
          border-radius: 6px;
          display: inline-block;
          margin: 0 10px 10px 0;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
          cursor: pointer;

          &:focus, &:hover {
            box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
          }

          .material-card-top{
            padding: 8px;
            height: calc(66.66% - 16px);
            width: calc(100% - 16px);
            margin: 0;
            border-radius: 6px 6px 0 0;
            background: #336589;
            overflow: hidden;

            .graphics {
              width: 100%;
              height: 100%;
              position: relative;
              text-align: center;
              pointer-events: none;

              img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                position: absolute !important;
                z-index: 0 !important;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              img.pipette {
                max-height: 140%;
                top: 70%;
              }
              img.plunger {
                width: 8%;
                top: 0%;
                left: 46%;
              }
            }
          }

          .material-card-bottom {
            height: auto;
            position: absolute;
            bottom: 0;
            min-height: 33.33%;
            width: 100%;
            background: white;
            background-color: white;
            border-radius: 0 0 5px 5px;

            p {
              padding: 8px;
              margin: 0;
              color: $navy1;
              hyphens: auto;
              white-space: pre-wrap;
            }
          }
          .collapse {
            position: absolute;
            bottom: 0;
            width: 100%;
          }

          .material-card-collapse {
            width: 100%;
            height: 150px;
            background: $navy1;
            border-radius: 5px;
            overflow: hidden;

            p {
              height: calc(100% - 16px);
              margin: 0;
              color: white;
              padding: 8px;
              font-size: 13px;
              hyphens: auto;
              // letter-spacing: 1.56px;
              // word-spacing: 2.08px;
              // line-height: 1.5;

              overflow-x: hidden;
              -ms-overflow-style: none;  // IE 10+
            }
            p::-webkit-scrollbar-track {
              border-radius: 1px;
              background-color: $navy1;
            }
            p::-webkit-scrollbar {
              width: 3px;
              background-color: $navy3;
            }
            p::-webkit-scrollbar-thumb {
              border-radius: 1px;
              background-color: $cyan1;
            }

            @-moz-document url-prefix() {
              p {
                margin-right: -15px;
                padding-right: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.Material[aria-label="Power Supply Leads"] ul {
    transform: scale(0.5);
    margin-top: -50px;

    li {
      list-style: none;
    }

    .PowerLeads img {
      visibility: hidden;
    }
}
