@import '../../../../styles/colors';
@import '../../../../styles/fonts';

.Context {
  .description {
    line-height: 1.5;
    .bold-text {
      font-family: "Bio Sans";
      font-style: normal;
      font-weight: bold;
    }
  }
  .Section {

    .SectionHeading {
      border-bottom: 1px solid $charcoal1;
    }

    .contextTable {
      border-radius: 5px;
      background-color: $navy5;
      padding: 32px;

      ul {
        margin: 0;
        padding-left: 17px;

        li {
          margin-bottom: 16px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    .demoImage {
      width: 100%;
      height: auto;
      margin-top: 32px;
    }

    .Group {

      .Table {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        background: $navy1;
        overflow: hidden;

        div.Item {
          width: 25%;
          border-left: 1px solid white;
          flex-direction: row;
          overflow: hidden;
          box-sizing: border-box;

          .table-heading {
            padding: 8px;
            margin: 0;
            font-weight: 200;
            color: $white;
            border-bottom: 1px solid white;
          }
          .table-content {
            background: $navy2;
            margin-bottom: -5px;

            img {
              height: 343px;
            }
          }
          &:first-of-type {
            border-left: none;
          }
        }
      }
    }
  }
}
