@import 'styles/_styles.scss';
@import 'styles/_colors.scss';

#HeatBlock{
  cursor: pointer;

  .label {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-family: $body;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    font-size: 14px;
    text-align: center;
    margin: 0px;
    padding: 4px 6px;
    border-radius: 5px;
    background-color: $navy2;
    pointer-events: none;
    color: white;
    white-space: nowrap;
    user-select: none;

    &:after {
      position: absolute;
      top: calc(100% - 1px);
      left: calc(50% - 10px);
      width: 0px;
      height: 0px;
      content: "";
      border-style: solid;
      border-width: 10px 10px 0px;
      border-color: $navy2 transparent transparent;
    }
  }
}
