@import '../../styles/styles';
@import '../../styles/colors';
@import '../../styles/mixins';

#dragdrop li.draggable.P2, #dragdrop li.draggable.P20, #dragdrop li.draggable.P200, #dragdrop li.draggable.P1000 {
  z-index: 50 !important;
}

#dragdrop li.draggable.P2.active, #dragdrop li.draggable.P20.active, #dragdrop li.draggable.P200.active, #dragdrop li.draggable.P1000.active {
  z-index: 99 !important;
}

.P2, .P20, .P200, .P1000 {
  padding: 0 14px !important;

  .label {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    // font-family: $body;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    font-size: 14px;
    text-align: center;
    margin: 0px;
    padding: 4px 6px;
    border-radius: 5px;
    background-color: $navy2;
    pointer-events: none;
    color: white;
    width: 41px;
    white-space: nowrap;
    user-select: none;

    &:after {
      position: absolute;
      top: calc(100% - 1px);
      left: calc(50% - 10px);
      width: 0px;
      height: 0px;
      content: "";
      border-style: solid;
      border-width: 10px 10px 0px;
      border-color: $navy2 transparent transparent;
    }
  }

  .plunger{
    position: absolute;
    margin: 0 3px;
  }
  .pipette{
    position: relative;
  }

  .controls {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    pointer-events: none;

    .move-menu {
      position: absolute;
      right: 50%;
      bottom: calc(100% + 43px);
      width: 40px;
      transform: translate(50%, 0%);
      z-index: -1;
      pointer-events: initial;

      .move-button {
        display: inline-block;
        background: $navy2;
        border: 1px solid $navy1;
        border-radius: 5px;
        width: 41px;
        height: 41px;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .volume-control {
      position: absolute;
      right: calc(100% - 5px);
      top: 26%;
      transform: translate(0, -50%);
      pointer-events: initial;

      button {
        position: absolute;
      }

      .volume-indicator {
        width: 60px;
        height: 44px;
        cursor: pointer;

        .volume-value {
          position: absolute;
          z-index: 1;
          width: 50px;
          text-align: center;
          line-height: 44px;
          font-size: 14px;
          color: white;
        }
      }
    }
    .plunger-control {
      width: 100px;
      height: 100px;
      position: absolute;
      left: 50%;
      bottom: calc(100% + 10px);
      transform: translate(-50%, 0);
      pointer-events: initial;

      .plunger-indicator {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;

        .plunger-value {
          position: absolute;
          height: 60px;
          bottom: calc(100% - 28px);
          left: 5%;
          width: 90%;
          background: $yellow1;
          text-align: center;
          line-height: 40px;
          font-size: 14px;
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
        }

        .plunger-graphics {
          border-width: 3px;
          border-style: solid;
          border-color: $yellow1;
          border-image: initial;
          box-sizing: border-box;
          background: rgb(1, 84, 128);
          position: absolute;
          width: 100px;
          height: 100px;
          border-radius: 50px;
          overflow: hidden;


          img {
            position: absolute;
            top: 16px;

            &.plunger {
              width: 30px;
              margin: 0 30px;
            }
            &.pipette {
              width: 50px;
              margin: 0 20px;
            }
          }
        }
      }
    }
    .eject-btn-container{
      transform: translate(-55px, 0);
      pointer-events: initial;

      .eject-btn{
        background-color: transparent;
        border: none;
        padding: 0px;
      }
    }
  }
}

.pipette__volume-string {
  z-index: 1;
  position: absolute;
  top: 222px;
  left: 43px;
  padding: 22px 7px;
  font-size: 17px;
  background-color: $offyellow;
}

.graphics-P2, .graphics-P20, .graphics-P200, .graphics-P1000 {
  .volume-state {
    &__top {
      @include volumeStateStyle;
    }
    &__mid {
      @include volumeStateStyle;
    }
    &__bottom {
      @include volumeStateStyle;
    }
  }
}

.graphics-P2 {
  .volume-state{
    &__top{
    }
    &__mid{
      color: $red1;
    }
    &__bottom{
      color: $red1;
    }
  }
}

.graphics-P20{
  .volume-state{
    &__top{
    }
    &__mid{
    }
    &__bottom{
      color: $red1;
    }
  }
}

.graphics-P1000{
  .volume-state{
    &__top{
      color: $red1;
    }
    &__mid{
    }
    &__bottom{
    }
  }
}

.Predictions .controls {
  position: absolute;
}
