// @import '../../../../styles/colors';
// @import '../../../../styles/fonts';

// .Summary {

// 	.description {
// 		line-height: 1.5;
// 	}

// 	.learning-objectives {
// 		padding: 16px;
// 		border: solid 1px $navy2;
// 		border-radius: 5px;
// 		background-color: $navy6;

// 		h5 {
// 			margin: 0;
// 		}

// 		ul {
// 			padding-left: 20px;
// 			margin-bottom: 0;
// 		}

// 		ul li {
// 			position: relative;
// 			padding-bottom: 8px;
// 			list-style: none;

// 			&:last-of-type {
// 				padding-bottom: 0;
// 			}

// 			.index {
// 				position: absolute;
// 				top: 1px;
// 				left: -22px;
// 				width: 26px;
// 				height: 30px;

// 				&:after {
// 					content: "";
// 					position: absolute;
// 					left: 6px;
// 					top: 4px;
// 					width: 2px;
// 					height: 6px;
// 					border: solid white;
// 					border-width: 0 2px 2px 0;
// 					-webkit-transform: rotate(45deg);
// 					transform: rotate(45deg);
// 				}
// 			}
// 	  }
// 	}
// 	.tips {

// 		ul {
// 	  		padding: 0;
// 		}

// 		ul li {
// 		display: flex;
// 		justify-content: space-between;
// 			align-items: center;
// 		height: 100px;
// 		padding: 0;
// 		margin: 0 0 8px 0;
// 		border: solid 1px $navy2;
// 		border-radius: 5px;
// 		flex-wrap: wrap;
// 		background-color: $navy6;
// 		overflow: hidden;

// 			img, .tip {
// 				border-top-left-radius: 3px;
// 				border-bottom-left-radius: 3px;
// 				list-style: none;
// 				flex-direction: row;
// 			}
// 	    .img-container {
// 				width: 100px;
// 				height: 100px;
// 				border: none;
// 				background: $navy2;

// 	      img {
// 					display: block;
// 					width: 100px;
// 					height: 100px;
// 					margin: 0% auto;
// 	      }
// 	    }
// 	    .tip {
// 				width: calc(100% - 116px);
// 				height: 84px;
// 				padding: 8px;

// 	    	p {
// 	        margin: 0;
// 	      }
// 	    }
// 		}
// 	}
// }

// .take-away {
// 	height: auto;
// 	display: -webkit-box;
// 	-webkit-flex-wrap: wrap;
// 	flex-wrap: wrap;
// 	padding: 0;
// 	margin: 0 0 8px 0;
// 	border-radius: 5px;
// 	border: solid 1px $navy2;
// 	background-color: white;
// 	overflow: hidden;

//   	div:first-of-type {
//     	width: 132px;
//     	background: #336589;

//      	img {
// 			display: block;
// 			margin: auto;
//        		// background-color: $navy2;
//      	}
//   	}
//   	.tip {
//     	width: 75%;
//     	margin-left: 10px;
//   	}
// }
