.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* .scene{
  display: grid;
  background-color: white;
  border: 2px solid black;
  height: 500px;
  width: 50%;
  margin: 10% auto;
  border-radius: 5px;
} */

.Comp1{
  width: 150px;
  height: 150px;
  /* background-color: lightgray; */
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  
}
/* style={fill:red;stroke:black;stroke-width:5;opacity:0.5"} */

.SVG{
  fill: red;
  stroke: black;
  stroke-width: 5;
  opacity: 0.5;
}
