.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* .scene{
  display: grid;
  background-color: white;
  border: 2px solid black;
  height: 500px;
  width: 50%;
  margin: 10% auto;
  border-radius: 5px;
} */

.Comp1{
  width: 150px;
  height: 150px;
  /* background-color: lightgray; */
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  
}
/* style={fill:red;stroke:black;stroke-width:5;opacity:0.5"} */

.SVG1{
  fill: red;
  stroke: black;
  stroke-width: 5;
  opacity: 0.5;
}
.content{
  width: 80%;
}

.iconOpen{
  width: 80px;
  height: 80px;
  /* background-color: #3A71CE; */
  position: absolute;
  top: 0px;
  right: 15px;
}

@media only screen and (max-width: 412px) {
  .SVG1{
    width: 100px;
    height: 100px;
  }
  .Comp1{
    width: 100px;
    height: 100px;
  }
  .SVG2{
    cx: 50;
    cy: 50;
    r: 50;
  }
  .iconOpen{
    width: 70px;
    height: 70px;
    right: -8px;
    top: -1px;
  }
  .header{
    font-size: 20px;
  }
}