@import '../../../styles/colors';
@import '../../../styles/fonts';

.notebook-popout {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: $navy7;

  .popout-content {
    height: calc(100% - 148px);
    padding: 36px;
    overflow-y: scroll;

    .popout-header {

      h2 {
        display: inline-block;
        padding-bottom: 9px;
        margin: 0;
        border-bottom: 8px solid $blue2;
        font-weight: 700;
        line-height: 34px;
        font-size: 42px;
        letter-spacing: 2px;
        color: $charcoal1;
      }
    }

    .popout-body {
      margin-top: 16px;
      min-height: calc(100% - 151px);

      .videoWrapper {
        position: relative;
        height: 0;
        padding-top: 25px;
        padding-bottom: 56.25%; /* 16:9 */
      }
      .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .popout-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    width: 632px;
    margin-top: 24px;
    padding: 8px 32px 8px 8px;
    background: #e5ecf0;
    box-shadow: 0 -8px 16px 0 rgba(0, 0, 0, 0.25);
    z-index: 2;

    .popout-btn {
      width: 180px;
      height: 60px;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      background-color: $yellow1;
      cursor: pointer
    }
  }
}
